* {
  box-sizing: border-box;
}

body {
  font: 400 14px/1 "PT Sans", sans-serif;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 800px;
  margin: 0 auto;
  /* padding: 10px; */
  height: 100vh;
  /* display: flex; */
  /* justify-content: flex-start; */
  /* justify-content: space-around; */
  flex-wrap: wrap;
  align-content: flex-start;
}

.header {
}

.vertical-line {
  border-left: 36px solid green;
  height: 225px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-foto {
  margin: 0 24px;
  width: 60%;
}
.header-foto-img {
  width: 334px;
  height: 225px;
}

.header-title {
  padding: 30px 0 0 0;
}

.header-title-name {
  font-size: 384%;
  letter-spacing: 4px;
  color: green;
}

.header-title-surname {
  font-size: 249%;
  letter-spacing: 2px;
}

.contact {
  width: 40%;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.based-information {
  width: 60%;
  margin: 0 34px 0 0;
}

.border {
  border-bottom: 2px solid;
  background: linear-gradient(35deg, green, #ddd);
}

.indentation {
  padding-top: 10px;
}
h3 {
  padding: 5px 0;
  text-decoration: underline;
  text-decoration-color: green;
}
.dline {
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 600;
}

li {
  list-style-type: none;
}


.aside {
  width: 40%;
}